.container {
  height: 100vh;
  width: 100%;
  background-color: #161616;
  color: #fff;
  padding: 30px;
}
.container .form {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: flex-start;
}

.container .form h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .form input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  text-indent: 20px;
  outline: none;
  border: 1px solid gray;
}
.container .form button {
  padding: 15px 50px;
  border-radius: 5px;
  background-color: #167ce0;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #167ce0;
  cursor: pointer;
}
.container .form button:hover {
  background-color: #5395d7;
}
.container .form a {
  color: #167ce0;
}
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found a {
  text-decoration: none;
  color: #167ce0;
}
.success {
  background-color: lightgreen;
  color: green;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  opacity: 1;
}
.invisibility-msg {
  opacity: 0;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.error {
  background-color: lightpink;
  color: red;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  opacity: 1;
}

/* track page css */

.search {
}

.track-container {
  align-items: flex-start;
}
.search input {
  width: 100%;
  height: 45px;
  text-indent: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px 0px;
  font-size: 18px;
}
